@import 'plugins/bourbon/bourbon';
@import 'plugins/neat/neat';

@import 'base/variables';
@import 'base/normalize';
@import 'base/nav';

* {
	outline: 0 none;
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	font-family: 'Alegreya Sans', sans-serif;

}

a, button {
	outline: none;
}

a {
	color: #566473;
	text-decoration: none;
}

section {
	padding: 1em;
	text-align: center;
}

small {
	font-family: 'Alegreya Sans SC', sans-serif;
}



::selection {
  background: #3086c1; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #3086c1; /* Gecko Browsers */
  color: #fff;
}

p.ref {
	text-align: center;
	padding: 2em 1em;
}




.large-header {
	position: relative;
	width: 100%;
	//background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
	box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

	background: linear-gradient(144deg, #2d4059, #3086c1) !important;
	background-size: 400% 400%;

	-webkit-animation: AnimationName 22s ease infinite;
	-moz-animation: AnimationName 22s ease infinite;
	animation: AnimationName 22s ease infinite;

	@-webkit-keyframes AnimationName {
	    0%{background-position:5% 0%}
	    50%{background-position:96% 100%}
	    100%{background-position:5% 0%}
	}
	@-moz-keyframes AnimationName {
	    0%{background-position:5% 0%}
	    50%{background-position:96% 100%}
	    100%{background-position:5% 0%}
	}
	@keyframes AnimationName { 
	    0%{background-position:5% 0%}
	    50%{background-position:96% 100%}
	    100%{background-position:5% 0%}
	}
}

.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
			-webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);

	@include media($ivertical) {
	        width: 90%;
	}

}

.main-title h2 {
	color: #f9f1e9;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: lowercase;
	margin: 40px 0 25px 0;

		@include media($ivertical) {
	    font-size: 40px;
	    margin-top: 0;
		}

	@include media($mobile) {
    font-size: 30px;
    margin-top: 0;
	}
}

.main-title p {
	margin: 0 auto 35px;
	color: #fff;
	font-size: 24px;
	font-weight: 100;
	max-width: 510px;

	@include media($mobile) {
	font-size: 18px;
	}
}

.main-title span {
	position: relative;
}

.main-title span::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #f9f1e9;
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.intro, .proyectos {
	background-image: url(./img/back-intro.svg);
	background-size: cover;
	background-color: #fff;
	padding: 3em 3em 13em 3em;
	position: relative;

	@include media($mobile) {
padding: 1em;
	}
}

.intro {
	small {
		font-size: 22px;
		font-weight: 600;
	}
}

.intro {
	h2 {
		color: #333;
		font-weight: 100;
		font-size: 60px;
		font-family: 'Alegreya Sans SC', sans-serif;
		text-transform: lowercase;
		margin-bottom: 5px;

			@include media($mobile) {
		line-height: 45px;
		font-size: 30px;

			}
	}
}

.proyect-list {
	max-width: 800px;
	margin: 0 auto;
}

.proyect-item {
    display: flex;
    margin: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.proyect-item.right {
    flex-direction: row-reverse;
}



.meta {
	flex: 1;
	text-align: left;
	padding: 0 1em;
}

.meta h3 {
	font-family: 'Alegreya Sans SC', sans-serif;
	margin: 0;
	font-size: 35px;
}



.browser-nav {
	background-image: url(./img/browser-nav.svg);
	background-repeat: no-repeat;	
	flex: 1;
}

.browser-nav img{
	width: 100%;
	position: relative;
	top: 20px;
}


.heading-misc {
	position: absolute;
    width: 100%;
    left: 0;
    right: 0;
}


.intro h3 {
	font-size: 50px;
	color: #3086c1;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin: 5px 0;
}

.intro p {
	max-width: 600px;
	margin: 2em auto;
	font-size: 24px;
}

footer {
	background: #fff;
	text-align: center;
	padding: 2em 0;
	font-size: 18px;
	border-top: 1px solid #ddd;
}

.btn {
	border-radius: 3px;
	color: #fff;
	font-size: 25px;
	padding: 5px 25px;
	font-weight: 600;
	-webkit-transition: all .4s;
	transition: all .4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,.3,1);
	transition-timing-function: cubic-bezier(0.7,0,.3,1);
	font-family: 'Alegreya Sans SC', sans-serif;

	@include media($mobile) {
    font-size: 17px;
	}
}

.nav-intro {
	color: #3086c1;
}

.nav-proyecto {
	color: #e34442;
}

.nav-contacto {
	color: #faa935;
}

.red {
	background: #e84546;
}

.large-header.red,
.large-header.blue,
.large-header.orange {
    height: 600px !important;
}

.btn.red:hover {
	background: #d62727;
	color: #fff;
}

.orange {
	background: #faa935;
}

.btn.orange:hover {
	background: #e59328;
	color: #fff;
}

.blue {
	background: #3086c1;

}

.large-header canvas {
	transform: rotate(180deg);
}

.contacto {
	width: 100%;
	margin: 0 auto;
	background-image: url(./img/back-contacto.svg);
	background-color: #f9f9f9;
	background-size: 400px;

	.cognito-form {
		max-width: 680px;
		margin: 0 auto;
		padding: 2em;
		background: #fff;
	}
}

#bio {
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
    padding: 5em 0;

	.bio-item {
    	display: flex;
    	margin: 20px 0;

    	@include media($ivertical) {
			flex-direction: column;
		}

		figure {
			width: 450px;

	    	@include media($ivertical) {
				width: 100%;
				padding: 0 55px;
			}

			@include media($mobile) {
			padding: 0
		}


			img {
				width: 100%;
			}
		}

		.bio-content {
			flex: 1;
			flex-direction: column;
			text-align: left;
			margin: 15px;

			@include media($mobile) {
				text-align: center;
			}
		}
	}
	

	@include media($ivertical) {
		.reverse {
			flex-direction: column-reverse;
		}
	}

	.separator {
		height: 110px;
	    overflow: hidden;


		@include media($mobile) {
			display: none;
		}
	}

	h3 {
		font-size: 32px;
		font-family: 'Alegreya Sans SC', sans-serif;
		margin: 15px 0 0 25px;

		@include media($mobile) {
			margin: 15px 0 0 0 ;
		}
	}

	p {
		font-size: 19px;
	    color: #333;
	    margin: 7px 0 0 25px;

	    @include media($mobile) {
	    	margin: 7px 0 0 0 ;
	    }
	}
}



.fancy-project {
	width: 70vw;
	height: 85vh;
	padding:  0 !important;
	text-align: center;

	@include media($mobile) {
		width: 90vw;
	}
}



.controls{
  padding: 2%;
  position: relative;
  z-index: 1;
}

.filter {
@include media($ipad) {
	margin: 5px;
}
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 5px;



}

button.active{
  background: #a9191a;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 30%;
  margin: 1%;
  	-webkit-transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.3s cubic-bezier(0.7, 0, 0.3, 1);


  &:hover {

  	opacity: .8;
  }

  @include media($ivertical) {
  	width: 40%;
  }

  @include media($mobile) {
  	width: 90%;
  }
}

.container .mix{
  text-align: left;
  display: none;

  img {
  	width: 100%;
  }

   video {
  	width: 100%;
  }

  p {
  	margin: 0;
  }
}

.fancy-project {
	overflow: hidden !important;
	background-position: center !important;
    background-size: cover !important;

	.item {
		width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,.85);
	    color: #fff;
	    padding: 7em;
	    text-align: center;

	    @include media($ivertical) {
	    	padding: 3em 1em;
	    	background: rgba(0, 0, 0, 0.8);
	    }

	    h3	{
	    	font-size: 30px;

	    	@include media($mobile) {
		    	font-size: 22px;
	    	}
	    }

	    p {
	    	font-size: 20px;
	    	margin-bottom: 20px;

	    	@include media($mobile) {
	    	font-size: 17px;
	    		
	    	}
	    }

	    .btn {
	    	outline: 0 none !important;

	    	@include media($ivertical) {
	    		width: 85%;
	    		display: block;
	    		margin: 10px 7%;
	    	}
	    }
	}
}

.proyecto-saso {
	background-image: url(./img/browser-saso.jpg);
	background-size: cover;
}

.proyecto-afda {
	background-image: url(./img/browser-afda.jpg);
	background-size: cover;
}

.proyecto-dynamo {
	background-image: url(./img/browser-dynamo.jpg);
	background-size: cover;
}

.proyecto-oblat {
	background-image: url(./img/browser-oblat.jpg);
	background-size: cover;
}

.proyecto-decide {
	background-image: url(./img/browser-decide.jpg);
	background-size: cover;
}

.proyecto-icap {
	background-image: url(./img/browser-icap.jpg);
	background-size: cover;
}

.proyecto-energia-libre {
	background-image: url(./img/browser-energia-libre.jpg);
	background-size: cover;
}

.proyecto-germinacion {
	background-image: url(./img/browser-germinacion.jpg);
	background-size: cover;
}

.proyecto-ravello {
	background-image: url(./img/browser-ravello.jpg);
	background-size: cover;
}

.proyecto-clinicas {
	background-image: url(./img/browser-clinicas-colectivas.jpg);
	background-size: cover;
}

.proyecto-vecinal {
	background-image: url(./img/browser-vecinal.jpg);
	background-size: cover;
}


.proyecto-juegos-afda {
	background-image: url(./img/browser-juegos-afda.jpg);
	background-size: cover;
}

.proyecto-open-stn {
	background-image: url(./img/browser-open-stn.jpg);
	background-size: cover;
}

.proyecto-sarana {
	background-image: url(./img/browser-sarana.jpg);
	background-size: cover;
}


.item-tag {
	position: absolute;
	top: 10px;
	background: #e84546;
	padding: 10px;
	left: 0;
	border-radius: 0px 20px 20px 0px;


	&.blue {
		background: #3086c1 !important;

	}

	&.orange {
		background: #faa935 !important;

	}

	i {
		margin-right: 10px;
	}
}



.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 4em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 5em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 6em auto;
  }
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 

xslide 

-------------------------------- */
.cd-headline.slide span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: .2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  -webkit-animation: slide-in 0.6s;
  -moz-animation: slide-in 0.6s;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  -webkit-animation: slide-out 0.6s;
  -moz-animation: slide-out 0.6s;
  animation: slide-out 0.6s;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}