nav {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	font-family: 'Alegreya Sans SC', sans-serif;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

	@include media($mobile) {
		height: 60px;
	}
}




.logo {
	width: 200px;
	float: left;

	@include media($ivertical) {
		width: 50px;
	}	

	.logo-santuan {
		position: relative;
		top: 26px;
		-webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);

		@include media($ivertical) {
			top: -200px;
		}		
	}

	.logo-mobile {
		-webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
		position: relative;
		left: -100px;
		top: -15px;

		@include media($ivertical) {
			left: 0;

		}
	}
}




.main-navigation {
	.nav-facebook {
		@include media($mobile) {
			display: none;
		}
	}
}

.main-navigation a {
	padding: 5px 20px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 4px solid;
	margin: 0 10px;
	    -webkit-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
    -moz-transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);
    transition: all 0.88s cubic-bezier(0.7, 0, 0.3, 1);


	@include media($mobile) {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 4px solid;
    margin: 0;
    position: relative;
    top: -7px;
	}

	
	

	@include media($jaz) {
		padding: 10px 0;
		font-size: 14px;
		margin: 0 5px;
	}



	&:hover {
		color: #34495e;
	}
}
